.app-menu {
    background-color: var(--app-menu-bg-color);
    color: var(--app-menu-text-color);
    height: 100%;

    padding-left: 56px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.app-menu .app-menu__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 0;

    font-size: 20px;
    list-style: none;
}

