.app-menu {
    background-color: var(--app-menu-bg-color);
    color: var(--app-menu-text-color);
    height: 56px;

    padding-left: 56px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.app-menu .app-menu__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 0;

    font-size: 20px;
    list-style: none;
}

@media only screen and (max-width: 480px) {
    .app-menu {
        flex-direction: column;
        height: 100%;
        width: 100%;

        padding-left: 0;
    }

    .app-menu .app-menu__greeting {
        width: 100%;
        font-size: 24px;
    }

    .app-menu .app-menu__menu {
        width: 100%;
        flex-direction: column;
        padding-left: 0;
    }
}