.app-jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 96px 32px;

    background-color: var(--app-jumbotron-bg-color);
    color: var(--app-jumbotron-color);
}