:root {
    --app-menu-bg-color: #212529;
    --app-menu-text-color: white;

    --phone-card-bg-color: white;
    --phone-card-name-color: black;

    --phones-list-bg-color: #f8f9fa;

    --details-button-bg-color: #88C23F;
    --details-button-color: white;
}