:root {
    --header-bg-color: black;
    --header-text-color: white;
    --sub-header-bg-color: #FFDF00;
    --sub-header-text-color: black;

    --phone-card-bg-color: silver;
    --phone-card-name-color: white;
    --phone-card-description-color: #FFDF00;

    --details-button-bg-color: #88C23F;
    --details-button-color: white;
}