:root {
    --main-bg-color: #f8f9fa;
}

.light-theme {
    --app-menu-bg-color: #212529;
    --app-menu-text-color: white;

    --app-jumbotron-bg-color: white;
    --app-jumbotron-color: black;

    --phone-card-bg-color: white;
    --phone-card-color: black;

    --modal-bg-color: white;
    --modal-color: black;
}

.dark-theme {
    --main-bg-color: #3C4556;

    --app-menu-bg-color: white;
    --app-menu-text-color: black;

    --app-jumbotron-bg-color: #3C4556;
    --app-jumbotron-color: white;

    --phone-card-bg-color: #282A36;
    --phone-card-color: white;

    --modal-bg-color: #282A36;
    --modal-color: white
}