.phone-card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--phone-card-bg-color);

    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.phone-card .phone-card__image {
    max-height: 256px;
    object-fit: contain;

    padding: 16px;
}

.phone-card .phone-card__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 16px;
}

.phone-card .phone-card__name {
    color: var(--phone-card-color);

    font-size: 1.2em;
}

.phone-card  .phone-card__details {
    color: var(--phone-card-color);
}