.phones-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    grid-column-gap: 32px;
    grid-row-gap: 24px;

    margin: 24px 24px;
}



@media only screen and (max-width: 480px) {
    .phones-list {
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
        margin: 8px 8px;
    }
}
